/*custom fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "Franklin Gothic";
  src: url('./../public/fonts/FRAMD.TTF') format("truetype");
}

@font-face {
  font-family: "Optimus Princeps";
  src: url('./../public/fonts/OPTIMUSPRINCEPS.TTF') format("truetype");
}

:root {
  --bg-img: url('./../public/hero-bg.png');
  --bg-color: #1c1c1c;
  --panel-color: #1a1a1a;
  --gold: #edc947;
  --dark-gold: #ad8302;
  --grey-border: 1px gray solid;
  --gold-border: 1px #9c9478 solid;
}

:root:has(.modal),
:root:has(.loading-screen),
:root:has(.loading-container) {
  overflow: hidden;
}

:root:has(.modal .hidden) {
  overflow: auto;
}

/*global styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Franklin Gothic";
  text-decoration: none;
}

html {
  background-color: var(--bg-color);
  height: fit-content;
}

label {
  font-size: 14px;
  color: gray;
}

hr {
  border-width: 1px;
  color: grey;
}

h1 {
  font-size: 30px;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.centered {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.unselectable {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  appearance: none;
  margin-right: 5px;
  height: 18px;
  width: 18px;
  accent-color: var(--gold);
  background-color: var(--bg-color);
  border: 1px var(--dark-gold) solid;
}

input[type="checkbox"]:checked {
  background-size: cover;
  padding: 2px;
}

input[type="checkbox"]:not(:disabled):checked {
  color: var(--bg-color);
  background-color: var(--gold);  
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %231c1c1c" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}

input[type="checkbox"]:not(:disabled):hover {
  border-color: darkgray;
  background-color: darkgray;  
}

input[type="checkbox"]:disabled:hover {
  cursor: default;
}

input[type="checkbox"]:disabled {
  cursor: default;
  background-color: #3d3d3d;
  border-color: #6b6b6b;
}


.disabled-link {
  pointer-events: none;
}

/*styling for the hero component*/
.hero {
  width: 100vw;
  height: 100vh;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

  background-image: linear-gradient(to top, #1c1c1c00, #1c1c1cFF), 
  var(--bg-img);
  background-position: center bottom;
  background-size: cover;

  text-align: center;
}

.hero h1 {
  font-size: 5vw;
  animation: rise 1s;
}
.hero h1 span {
  font-family: "Optimus Princeps";
  font-size: 4.4vw;
  
}
.hero p {
  font-size: 1.5vw;
  animation: rise 1s;
}

/**/
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90vh;
  margin: auto;
  column-gap: 20px;
  min-width: 1500px;
}

.not-found h1 {
  font-size: 90px;
}

.not-found h2 {
  font-size: 50px;
}

/**/
.build-page {
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  min-width: 1500px;

  background-image: linear-gradient(0deg, rgba(22,18,7,1) 0%, rgba(31,26,8,1) 40%, rgba(0,0,0,0) 60%, rgba(28,28,28,1) 100%), 
  url('./../public/builder-bg.png');
  background-position: top left;
  background-size: 100%;
}

.build-page a:hover {
  color: var(--gold);
}

.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgba(89,83,61,0.8) 10%, rgba(0,0,0,0) 100%);
  padding: 5px;
  column-gap: 20px;
  align-items: center;
  width: 70%;
  min-width: 1500px;
}


.build-page .armour-panel,
.build-page .talismans-panel {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.build-page .weapon-options {
  column-gap: 60px;
  padding-top: 10px;
}

.build-page .weapon-options div {
  display: flex;
  flex-direction: column;
}

.description {
  display:flex;
  width: 800px;
  align-self: flex-start;
  white-space: pre-line;
}

/**/
.page-content {
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  min-width: 1500px;
}

.header .search-box {
  height: 30px;
  width: 500px;
  padding: 0;
}

.header .search-box input[type="text"] {
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  background: none;
  padding: 0;

}

.header .search-box i {
  padding: 10px;
}

.header .search-box i:hover {
  cursor: pointer;
  background-color: #6b6b6b;
  border-radius: 50px;
}

.select-container {
  display: flex;
  align-items: center;
}

.select-container:hover {
  cursor: pointer;
}

.select-container:hover > .select {
  color: var(--gold);
  transition: 0.5s ease-out;
}

.select {
  width: 80px;
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  appearance: none;
  padding: 5px;
}

.dropdown-container .dropdown {
  background-color: transparent;
  border: none;
}

.dropdown-container .dropdown ul {
  width: 180px;
  padding: 10px 20px 10px 20px;
  background-color: var(--bg-color);
  border: var(--grey-border);
  list-style-type: none;
  border-radius: 5px;
}

.dropdown-container .dropdown ul li {
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
  padding: 8px 0;
}

/**/
.list-item {
  display: flex;
  align-items: center;
  font-size: 17px;
  padding-top: 6px;
  
}

.list-item img {
  height: 35px;
  margin-right: 10px;
}

.list-item .blank {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #121212;
}

/**/
.build-item div,
.build-item {
  font-family: "Inter", sans-serif !important;
}


.build-item {
  border: var(--grey-border);
  padding: 18px;
  width: 600px;
  border-radius: 4px;
}

.build-item h3 {
  padding-bottom: 5px;
}

.build-item strong {
  color: var(--gold);
}

.builds-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/*styling for the navbar component*/
.navbar {
  min-height: 50px;
  padding-top: 15px;
  margin: auto;
  width: 70vw;
  min-width: 1500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: row;
  align-items: center;
}

.navbar * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.navbar-buttons {
  display: flex;
}

.navbar-btn:hover,
.navbar-btn:hover div,
.user-dropdown ul > li:hover,
.dropdown-container .dropdown ul li:hover {
  cursor: pointer;
  color: var(--gold);
  transition: 0.5s ease-out;
}

.navbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 10px;
  padding: 0 10px 10px 10px;
  font-size: 15px;
}

.navbar-btn div {
  display: flex;
  align-items: center;
}

.navbar-btn:last-child {
  margin-left: 10px;
}

.selected-page {
  color: var(--gold);
  border-bottom: 1px var(--dark-gold) solid;
}

.logo {
  font-family: "Optimus Princeps";
  font-size: 35px;
}

/**/
.user-dropdown-container {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 300px;
  top: 60px;
  width: 70vw;
  min-width: 1500px;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.user-dropdown {
  visibility: visible;
  position: absolute;
  top: 0;
  right: 20px;
  width: 170px;
  padding: 10px 20px 10px 20px;
  background-color: var(--bg-color);
  border: var(--grey-border);
  z-index: 5;
  border-radius: 5px;
}

ul > .separator,
.build-item .separator {
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
}

.user-dropdown ul {
  list-style-type: none;
}

.user-dropdown ul li {
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
  padding: 8px 0;
}

@media (max-width: 1500px) {
  .user-dropdown-container {
    transform: none;
    left: 0;
  }
}

/*styling for loading screen*/
.loading-screen {
  width: 100vw;
  height: 100%;
  font-size: 25px;
}

.loader,
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container {
  height: 100%;
  width: 100%;
}

/*styling for modals page*/
.modal {
  top:0;
  left:0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.modal * {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.modal .exit-button {
  height: 30px;
  width: 30px;
  font-size: 16px;
  background: none;
  border: none;
  float: right;
  border-radius: 5px;
}

.modal button:hover:not(:disabled) {
  cursor: pointer;
  background-color: gray;
}

.modal-container {
  padding: 10px;
  width: 440px;
  border: var(--grey-border);
  background-color: var(--bg-color);
}

.modal h1 {
  padding: 25px;
}

.signup-form,
.modal-content {
  display:flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 0px 25px 25px 25px;
}
.modal-content {
  width: fit-content;
}
.click-here {
  color: var(--gold);
  text-decoration: underline;
}

.click-here:hover {
  cursor: pointer;
}

.form-group {
  display:flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-group div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  font-size: 14px;
  color: white
}

.form-group input[type="text"],
.form-group input[type="password"],
.file-panel input[type="text"] {
  font-weight: 500;
  height: 35px;
  width: 100%;
  padding: 7px;
  background-color: #121212;
  font-size: 16px;
  border: 0;
  border-bottom: var(--grey-border);
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus, 
.file-panel input[type="text"]:focus,
.form-group input[type="password"]:focus + i,
.form-group input[type="text"]:focus + i {
  outline: none;
  border-bottom: 2px var(--gold) solid;
}

.error {
  color: #f5473b;
  font-size: 12px;
  font-weight: 500;
}

.signup-form button[type="submit"] {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #cc9827;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 0;
}

.signup-form button[type="submit"]:hover:not(:disabled) {
  background-color: #cc9827CF;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.form-group i {
  padding: 2.5%;
  background-color: #121212;
  height: 100%;
  border-bottom: var(--grey-border);
}

.form-group i:hover {
  background-color: grey;
  cursor: pointer;
}

.invalid {
  border-bottom: 2px #f5473b solid !important;
}

.modal-content .button-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-content .button-container button {
  text-align: center;
  width: 100px;
  height: 33px;
  background-color: #121212;
  border: var(--grey-border);
}

.build-name {
  font-size: 18px;
  display: table;
  margin: 0 auto;
  color: var(--gold);
}

/*styling for build creator page*/
.build-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(22,18,7,1) 0%, rgba(31,26,8,1) 40%, rgba(0,0,0,0) 60%, rgba(28,28,28,1) 100%), 
  url('./../public/builder-bg.png');
  background-position: top left;
  background-size: 100%;
  min-width: 1500px;
  background-repeat: none;
}

.build-creator h1 {
  width: 100%;
  background: linear-gradient(90deg, rgba(89,83,61,0.8) 10%, rgba(0,0,0,0) 50%);
  padding: 5px;
}

.panels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  width: 70%;
  min-width: 1500px;
}

.bottom-panels-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 70%;
  min-width: 1500px;
}

.subcontainer {
  display: flex;
  flex-direction: column;

  row-gap: 40px;
}

.subcontainer:last-child {
  padding: 20px 0 20px 0
}

.subcontainer2 {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.build-creator > .separator,
.panels-container > .separator {
  min-width: 1500px;
  height: 30px;
  margin-bottom: 30px;
  width: 70%;
}

.separator {
  border-bottom: 1px grey solid;
}

/*styling for file panel*/
.file-panel {
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: 100%;
}

.file-panel button,
.dummy-button {
  background-color: #121212;
  border: var(--grey-border);
  align-self: flex-end;
  height: 35px;
  width: 90px;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.delete-btn {
  width: fit-content !important;
  background-color: #990029 !important;
  border: #b50030 1px solid !important;  
}

.file-panel button:hover:not(.disabled),

.dummy-button:hover,
.delete-btn:hover  {
  cursor: pointer;
  background-color: grey !important;
  border: var(--grey-border) !important;
}

.file-panel .disabled {
  border: var(--grey-border) !important;
}

.input-container {
  display: flex;
  width: 300px;
}

.input-container button,
.dummy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 35px;
  background-color:#3d3d3d;
  border-bottom: 1px;
  border: var(--grey-border);
}

.load-container {
  align-self: flex-end;
}

.visibility-container {
  display: flex;
  align-items: center;
  height: 35px;
  column-gap: 10px;
  width: 100px;
}

.visibility-container *:hover {
  cursor: pointer;
  color: var(--gold);
}

.message {
  opacity: 0;
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  animation: fadeInAndOut 2.8s cubic-bezier(0.05, 1, 0.05, 0.7);
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-container textarea {
  background-color: #121212;
  
  border: none;
  border-bottom: var(--grey-border);
  outline: none;
  max-width: 80%;
  padding: 7px;
}

.description-container textarea:focus {
  border-bottom: 2px var(--gold) solid;
}

.share-link {
  display:flex;
  align-items: center;
  align-self: flex-end;

}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  padding: 5px;
  height: 35px;
  border-bottom: var(--grey-border);
}

/*general styling for panels*/
.character-panel,
.great-runes-panel,
.armour-panel,
.talismans-panel,
.stats-panel,
.attack-power-panel,
.defences-panel,
.selectors-container,
.ammo-panel,
.spells-panel,
.physick-panel,
.description {
  display: block;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(90deg, rgba(25,22,17,1) 0%, rgba(0,0,0,0) 100%);
  border-left-width: 3px;
  border-left-style: solid;
  border-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(107,106,101,0.5) 10%, rgba(143,141,132,0.8) 50%, rgba(107,106,101,0.5) 90%, rgba(0,0,0,0)) 1;
  align-self: baseline;
}

.weapons-panel {
  background: linear-gradient(90deg, rgba(25,22,17,0.75) 0%, rgba(0,0,0,0) 70%);
}

.selectors-container {
  background: none;
}

.talismans-panel,
.armour-panel {
  width: 17vw;
  min-width: 400px;
}

.character-panel,
.great-runes-panel,
.physick-panel {
  width: 15vw;
  min-width: 350px;
}

.stats-panel,
.defences-panel,
.attack-power-panel {
  width: 12.5vw;
  min-width: 250px
}

.selectors-container:last-child {
  border: none;
}

.panel-title {
  color: #d6cca5;
  font-size: 1em;
  transform: translateX(-13px);
  display: flex;
  align-items: center;
  z-index: 0;
  filter: drop-shadow(black 3px 3px 5px);
}

.panel-title img {
  width: 28px;
  margin-right: 8px;
}

/*styling for the character panel component*/
.level-container {
  font-size: 15px;
  padding: 5px 0;
  border-top: 1px gray solid;
}

.starting-class {
  padding-bottom: 10px;
}

.level-container span {
  padding: 10px 0;
}

/*styling for talismans panel component*/
.active-effects {
  background-color: #191919;
  padding: 10px;
  border-bottom: 1px var(--dark-gold) solid;
}

.active-effects ul {
  padding: 5px 10px;
  font-size: 13px;
}

.active-effects ul li {
  padding: 4px 0;
}

/*styling for defences panel*/
.defences-panel table {
  width: 100%;
  border-collapse: collapse;
}

thead,
.defences-panel .value {
  text-align: right;
}

td {
  padding: 5px 0;
  width: 33.3%
}

/**/
.weapons-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--panel-colour);
}

.weapons-panel .selectors-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.selector:not(:last-child) {
  padding-bottom: 10px;
}

.weapon-options {
  display: flex;
  align-items: center;
}

.ashes {
  width: 100%;
}

.affinity {
  width: 45%;
}

.levels {
  width: 33%;
}

.affinity,
.levels {
  margin-left: 5px;
}

.affinity,
.levels,
.ashes {
  height: 35px;
}

.requirements-text {
  color: red;
  font-size: 12px;
  height: 12px;
  width: fit-content;
}

.weapon-effect {
  color: #9c9478;
  font-size: 12px;
  height: 12px;
  width: fit-content;
  padding: 5px 0;
}

.requirements-text[data-alt]:hover:after,
.attack-power[data-alt]:hover:after,
.ammo-ap[data-alt]:hover:after {
  font-size: 14px;
  color: white;
  content: attr(data-alt);
  position: absolute;
  display: flex;
  flex-direction: column;
  white-space: pre;
  background-color: #121212;
  border-left: 1px red solid;
  padding: 5px 10px;
  margin: 5px 0;
  line-height: 20px;
  z-index: 1;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
}

.checkbox-container:hover,
.checkbox-container *:hover {
  cursor: pointer;
  user-select: none;
}

.great-runes-panel .disabled,
.physick-panel .disabled:not(.selector *) {
  background-color: transparent !important;
}

/**/
.stats-panel div {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

/**/
.attack-power-panel div {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.attack-power[data-alt]:hover:after,
.ammo-ap[data-alt]:hover:after {
  border-left: 1px var(--gold) solid;
}

/**/
.ammo-panel {
  width: 13vw;
  min-width: 340px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--gold);
  font-size: 12px;
  height: 12px;
  width: 100%;
}

.ammo-effect {
  color: #9c9478;
}

.ammo-ap {
  color: var(--gold);
}

/**/
.spells-panel {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  width: 40vw;
  min-width: 1000px;
}

.spells-panel .selector {
  width: 12vw;
  min-width: 300px;
}

/*styling for dropdown component*/
.select-menu img {
  height: 35px;
  margin-right: 10px;
}

.select-menu,
.select-menu ul {
  width: 100%;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 5px;
  border: none;
  font-size: 16px;
  border-bottom: var(--grey-border);
  margin: 5px 0px;
}

.selected div {
  display: flex;
  align-items: center;
}


.disabled,
.disabled * {
  background-color: #3d3d3d !important;
  color: #6b6b6b !important;
  pointer-events: none;
}

.disabled:hover,
.disabled *:hover,
button[type="submit"] .disabled:hover {
  cursor: default !important;
}

.search-box {
  padding: 5px 5px 5px 10px;
  height: 100%;
}

.dropdown {
  border: var(--gold-border);
  background-color: #121212;
  position: absolute;
  z-index: 1;
}

.select-menu ul {
  overflow: auto;
  max-height: calc(20vh + 200px);
}

.select-menu ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.select-menu ul li:not(.disabled):hover {
  background-color: gray;
}

.selected-item {
  background-color: #ad8302;
  color: var(--gold);
}

.select-menu ul li:not(.disabled):hover,
.selected:not(.disabled):hover{ 
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding-right: 5px;
}

.search-box input[type=text] {
  background-color: #262626;
  padding: 5px;
  margin: 5px;
  width: 100%;
  border: none;
  outline: none;
}

/*styling for stat row*/
.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 0 20px 0;
}

.stat-row .label {
  width: 100px;
}

.number-container {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.number-input {
  background-color: #262626;
  border: 1px var(--dark-gold) solid;
  text-align: center;
  width: 50px;
  font-size: 16px;
  outline: none;
  padding: 3px;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.button-container button {
  height: 18px;
  width: 40px;
  border: 0;
  font-size: 15px;
  background: none;
}

.button-container button:hover {
  background-color: gray;
  cursor: pointer;
}

.adjusted {
  color: var(--gold);
}

/*animation keyframes*/
@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

@keyframes fadeInAndOut {
  0%, 100% { 
    opacity: 0;
    transform: translateY(10px);
  }
  33%, 66% { 
    opacity: 1;
    transform: translateY(0);
  }
}

/**/

.spinner {
  width: 100px;
  height: 100px;
  border: 20px solid gray;
  border-bottom-color: white;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s cubic-bezier(0.1, 0.1, 0.1, 0.7) infinite;
}

.form-group .spinner,
button .spinner {
  width: 20px;
  height: 20px;
  border: 5px solid gray;
  border-bottom-color: white;
}

