/*custom fonts*/
@font-face {
  font-family: "Franklin Gothic";
  src: url('./../public/fonts/FRAMD.TTF') format("truetype");
}

@font-face {
  font-family: "Optimus Princeps";
  src: url('./../public/fonts/OPTIMUSPRINCEPS.TTF') format("truetype");
}

:root {
  --bg-img: url('./../public/background3.png');
  --bg-color: #1c1c1c;
  --panel-color: #1a1a1a;
  --gold: #ffc000;
}

/*global styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Franklin Gothic";
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

html {
  background-color: var(--bg-color);
}

label {
  font-size: 13px;
  color: gray;
}

input[type=text] {
  background-color: #262626;
  padding: 5px;
  margin: 5px;
  border: none;
  outline: none;
  width: 100%;
}

.hidden {
  display: none;
  
}

/*styling for the hero component*/
.hero {
  position: fixed;
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero h1 {
  font-size: 5vw;
  animation: rise 1s;
}

.hero p {
  font-size: 1.5vw;
  animation: rise 1s;
}

/*styling for the navbar component*/
.navbar {
  width: 100vw;
  height: 4vh;
  min-height: 50px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar * {
  padding-bottom: 10px;
}

.navbar-btn:hover {
  border-bottom: 1px solid var(--gold);
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;
  width: 20vw;

  font-size: 20px;
}

.navbar-login {
  font-size: 20px;
}

.navbar-login:hover,
.navbar-login:hover * {
  color: var(--gold);
}

.logo {
  font-family: "Optimus Princeps";
  font-size: 35px;
}

/*styling for build creator page*/
.build-creator, .loading-screen {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.panels-container {
  width: 75%;
}

/*styling for the character panel component*/
.character-panel {
  display: block;
  border: 1px gray solid;
  width: 500px;
  padding: 10px;
  background-color: var(--panel-colour);
}

.character-panel * {
  font-family: Arial;
  display: block;
}

/*styling for loading*/

/*styling for dropdown component*/
.selected {
  display: flex;
  justify-content: space-between;

  background-color: var(--bg-color);
  padding: 5px;
  border: none;
  font-size: 18px;
  width: 300px;
  border-bottom: 1px gray solid;
  margin: 5px 0px;
}

.select-menu ul {
  background-color: var(--bg-color);
  position: absolute;
  width: 300px;
  max-height: 500px;
  padding: 5px;
  overflow:auto;
}

.select-menu ul li {
  padding: 10px;
}

.select-menu ul li:hover {
  background-color: gray;
}

.selected-item {
  background-color: #ad8302;
  color: var(--gold);
}

.select-menu ul li:hover,
.selected:hover { 
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding-right: 5px;
}

/*animation keyframes*/
@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
